.bundle
db/*.sqlite3
log/*.log
tmp/

/Gemfile
/Gemfile.lock
/public/index.html
/log
/config/initializers/site_keys.rb
/app/controllers/needs_users_controller.rb
/app/models/needs_user.rb
/app/views/needs_users